body{
    display: flex;
    background-image: linear-gradient(grey,white);
    justify-content: center;
}

#clock{
    background-image: url(reqd/clock.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 10%;
    left: 35%;
    width: 387px;
    height: 383px;
    border: 13px solid black;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 3px lightgrey inset;
}

#center{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    position: relative;
    top: 47%;
    left: 47%;
}
#minute{
    height: 134px;
    width: 3px;
    background-color: black;
    position: absolute;
    left: 51%;
    top: 16%;
    transform-origin: 50% 92%;
}

#second{
    height: 152px;
    width: 3px;
    background-color: red;
    position: absolute;
    left: 51%;
    top: 21%;
    z-index: 2;
    transform-origin: 50% 76%;
}
#hour{
    height: 88px;
    width: 8px;
    background-color: grey;
    position: absolute;
    left: 50%;
    top: 25%;
    z-index: 4;
    transform-origin: 50% 105%;
}

